@font-face {
  font-family: 'OfficinaSerifStd-Bold';
  src: url('../fonts/OfficinaSerifStd-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/OfficinaSerifStd-Bold.otf')  format('opentype'),
	     url('../fonts/OfficinaSerifStd-Bold.woff') format('woff'), url('../fonts/OfficinaSerifStd-Bold.ttf')  format('truetype'), url('../fonts/OfficinaSerifStd-Bold.svg#OfficinaSerifStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OfficinaSerifStd-Book';
  src: url('../fonts/OfficinaSerifStd-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/OfficinaSerifStd-Book.otf')  format('opentype'),
	     url('../fonts/OfficinaSerifStd-Book.woff') format('woff'), url('../fonts/OfficinaSerifStd-Book.ttf')  format('truetype'), url('../fonts/OfficinaSerifStd-Book.svg#OfficinaSerifStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
