// colors
$gray: #dfdddd;
$gray-dark: #5f5f5f;
$gray-light: #ecebeb;
$gray-darken: #7e7e7e;
$green: #99cc33;
$purple: #660099;
$orange: #ff9900;
$white: #fff;
// gutter
$grid-gutter-width: 20px;
// fonts
$fontbold: 'OfficinaSerifStd-Bold', sans-serif;
$fontregular: 'OfficinaSerifStd-Book',sans-serif;
