<div class="banner__text product-banner">
  <!-- plano -->
  <div class="product-banner__plano">
    <strong>1,5 gb</strong>
    <span>de internet</span>
    <strong class="4g">4g</strong>
  </div>
  <!-- vantagens -->
  <ul class="product-banner__vantagens">
    <li>Ligações ilimitadas <span>para qualquer CD</span></li>
    <li>50 minutos<span>locais para outras operadoras</span></li>
    <li>SMS ilimitados<span>para qualquer operadora</span></li>
  </ul>
  <!-- price -->
  <div class="product-banner__preco">
    <p>
      <span>R$</span>
      <strong>54</strong>
      <span>,99</span>
      <span>/mês</span>
    </p>
  </div>
</div>
